version: '2'
services:

  base:
    build:
      context: .
    image: node-poll
    restart: on-failure
    volumes:
      - ./config:/app/config
    environment:
      - NODE_ENV=docker
    command: /bin/true

  bosch:
    extends:
      service: base
    command: 'node /app/services/bosch/updater.js'

  airthings:
    extends:
      service: base
    command: 'node /app/services/airthings/airthingsUpdater.js'

  dmi:
    extends:
      service: base
    command: 'node /app/services/dmi/updater.js'

  yr:
    extends:
      service: base
    command: 'node /app/services/yr/updater.js'

  dclone:
    extends:
      service: base
    command: 'node /app/services/dclone/updater.js'

  influxdb:
    image: influxdb:1.7.11
    volumes:
      - influxdb-storage:/var/lib/influxdb
    ports:
      - '8086:8086'
    environment:
      - INFLUXDB_DB=db0
      - INFLUXDB_ADMIN_USER=${INFLUX_USER}
      - INFLUXDB_ADMIN_PASSWORD=${INFLUX_PASSWORD}
    restart: unless-stopped

  grafana:
    image: grafana/grafana:8.4.3
    ports:
      - '0.0.0.0:1337:3000'
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana-provisioning/:/etc/grafana/provisioning
    depends_on:
      - influxdb
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
    restart: unless-stopped

volumes:
  influxdb-storage:
  grafana-storage: